<ul class="metismenu" id="menu">

  <li {% if active == 'Dashboard' %} active {% endif %}>
    <a href="#" aria-expanded="false">
      <i class="icon-badge menu-icon"></i><span class="nav-text">Dashboard</span>
    </a>
  </li>
  <li {% if active == 'Shareholders' %} active {% endif %}>
    <a href="#" aria-expanded="false">
      <i class="icon-badge menu-icon"></i><span class="nav-text">Shareholders</span>
    </a>
  </li>
   <li {% if active == 'Administrators' %} active {% endif %}>
    <a href="#" aria-expanded="false">
      <i class="icon-badge menu-icon"></i><span class="nav-text">Administrators</span>
    </a>
  </li>
   <li {% if active == 'Logs' %} active {% endif %}>
    <a href="#" aria-expanded="false">
      <i class="icon-badge menu-icon"></i><span class="nav-text">Logs</span>
    </a>
  </li>
</ul>
